@charset "gb2312";
body {
    margin:10;
    padding:10;
    font:100%/1.4 verdana, Helvetica, sans-serif;
    background-image:url(../images/body_bg.gif);
}
h3 {
    height:39px;
    margin:0;
    padding:0;
}
p {
    margin:0;
    padding:0;
}

#wanwei{
position: absolute;
    top: 15px;
    left: 20px;
}

/*padding: 6px 0 10px 0; ??涓??煎?????? 涓? ?? 涓? 宸?*/
#linkList{
    width: 207px;
}
#linkList a{
    color:#D9189F;
    background-color:#ffffff;
    text-decoration:underline;
}
#linkList a:hover{
    color:#FC7AD5
}
#linkList li {
    list-style: none;
    padding: 6px 0 10px 0;
    background: url(../images/line.gif) bottom repeat-x;
}
#linkList h3 span{
    display:none;
}
#linkList li a {
    padding-left: 7px;
    background: url(../images/link.gif) left center no-repeat;
    text-decoration: none;
}

#linkList li a:hover { text-decoration: underline; }
#lresources { background: url(../images/left_bg.gif) repeat-y; }
#lresources h3 { background: url(../images/title_resources.gif) no-repeat; }

#lresources ul {
    margin: 0;
    padding: 0 25px 20px 17px;
    background: url(../images/left_bottom.gif) bottom no-repeat;
}


#quickSummary{
    width:546px;
    background-color:#ffffff;
    background-repeat:repeat-y;
    margin:0 0 2px 226px;
    color:#454545;
    display:block;
    padding:0;
}
/*display:block;姝ゅ??绱?灏??剧ず涓哄??绾у??绱?锛?姝ゅ??绱?????浼?甯????㈣?绗???*/
#quickSummary p span {
    padding:0 15px 10px 77px;
    display:block;
}
/*css????浣跨?ㄩ??????浠?,浼???css?稿????褰??冲??*/
#quickSummary .p1 span {
    padding-top:14px;
    background:url(../images/quicksummary_top.gif) top no-repeat;
}
#quickSummary .p2 span {
    padding-bottom:20px;
    background:url(../images/right_bottom.gif) bottom no-repeat;
}
#quickSummary p {
    background:url(../images/right_bg.gif) right repeat-y;
}
/* side image */
#quickSummary {
    background-image:url(../images/img_quicksummary.jpg);
    background-position:left bottom;
}
#ScrollFolder{
height:150px;
overflow-y:scroll;
padding: 6px 0 10px 0;
}
.bottom{
width:100px;
height:100px;
background-color:green;
position:absolute;
margin: 10px 0 15px 0;
}