<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yangshi</title>
    <link href="statics/css/cd.css" rel="stylesheet" type="text/css">
    <!--https://blog.csdn.net/qq_28934205/article/details/78622949-->
</head>
<body>
<!--定义界面-->
<div id="resize">
    <!--定义右边内容-->
    <div id="quickSummary">
        <p class="p1"><span>展示以<acronym
                title="cascading style sheets">CSS</acronym>技术为基础，并提供超强的视觉冲击力。只要选择列表中任意一个样式表，就可以将它加载到本页面中，并呈现不同的设计效果。</span>
        </p>
        <p class="p2"><span>下载<a title="这个页面的HTML源代码不能够被改动。"
                                 href="http://www.csszengarden.com/zengarden-sample.html">HTML文档</a> 和 <a
                title="这个页面的CSS样式表文件，你可以更改它。"
                href="http://www.csszengarden.com/zengarden-sample.css">CSS文件</a>。</span></p>
    </div>

    <!--定义菜单属性值-->
    <div id="wanwei">
        <div id="linkList">
            <div id="lresources">
                <h3 class="resources"><span>参考资源</span></h3>
                <ul>
                    <li><a href="#">查看这个设计的样式表CSS</a>
                    <li><a href="#">CSS参考资料</a>
                    <li><a href="#">常见问题</a>
                    <li><a href="#">投稿</a>
                    <li><a href="#">翻译文件</a></li>
                </ul>
            </div>
        </div>
        <!--定义菜单外围-->
        <div id="leftPanel">
            <h3> 左边菜单哟</h3>
            <!--定义菜单上部分-->
            <div id="navBarDiv">
                <ul id="navBarTb" class="navBarTb">
                    <li id="composebtn_td_xie">
                        <a id="compsebtn_xie" href="#">
                            写信
                        </a>
                    </li>
                    <li id="composebtn_td_shou">
                        <a id="compsebtn_shou" href="#">
                            守信
                        </a>
                    </li>
                    <li id="composebtn_td_tong">
                        <a id="compsebtn_tong" href="#">
                            童旭龙
                        </a>
                    </li>
                </ul>
            </div>
            <!--中部菜单-->
            <div id="SysFolderList">
                <ul class="fdul" id="fdul">
                    <li id="folder_1_td">
                        <a id="folder_1_a" href="#" title="有一件还没看" onclick="">
                            <b>
                                收件箱
                            </b>
                            <b>
                                (1)
                            </b>
                        </a>
                    </li>
                    <li id="folder_2_td">
                        <a id="folder_2_a" href="#" title="" onclick="">
                            星标邮件
                        </a>
                    </li>
                    <li id="folder_3_td">
                        <a id="folder_3_a" href="#" title="" onclick="">
                            星标邮件
                        </a>
                    </li>
                </ul>
            </div>
            <!--底部滚动菜单-->
            <div id="ScrollFolder">
                <ul id="menu1">
                    <li><a href="#"><b>menu1+查看样式表CSS</b></a></li>
                    <li><a href="#"><b>menu1+CSS参考资料</b></a></li>
                    <li><a href="#"><b>menu1+常见问题</b></a></li>
                    <li class="current"><a href="#nogo"><b>menu1+投稿</b></a></li>
                    <li><a href="#"><b>menu1+翻译文件</b></a></li>
                </ul>
                <ul id="menu2">
                    <li><a href="#"><b>menu2+查看样式表CSS</b></a></li>
                    <li><a href="#"><b>menu2+CSS参考资料</b></a></li>
                    <li><a href="#"><b>menu2+常见问题</b></a></li>
                    <li class="current"><a href="#nogo"><b>menu2+投稿</b></a></li>
                    <li><a href="#"><b>menu2+翻译文件</b></a></li>
                </ul>
                <ul id="menu3">
                    <li><a href="#"><b>menu3+查看样式表CSS</b></a></li>
                    <li><a href="#"><b>menu3+CSS参考资料</b></a></li>
                    <li><a href="#"><b>menu3+常见问题</b></a></li>
                    <li class="current"><a href="#nogo"><b>menu3+投稿</b></a></li>
                    <li><a href="#"><b>menu3+翻译文件</b></a></li>
                </ul>
            </div>
        </div>
        <dic class="bottom">

        </dic>
    </div>


</div>
</body>
</html>